<div class="sidenav-container" fxLayout="column">

    <md-toolbar class="sidenav-toolbar mat-elevation-z2 mat-primary"
                [ngClass]="[theme.header]"
                fxLayout="row"
                fxFlexAlign="center center">

    </md-toolbar>

    <div class="sidenav-scrollbar-container" [ngClass]="[theme.aside]"  fxLayout="column">
        <md-nav-list fxLayout="column" >
            <sidenav-item *ngFor="let item of items" [item]="item" ></sidenav-item>
        </md-nav-list>
    </div>

    <!--<div class="sidenav-footer" [ngClass]="[theme.footer]"  fxLayout="row" fxFlexAligin="center center">-->
        <!--<a fxFlex="100" md-raised-button href="https://github.com/stbui/angular-material-app/issues" target="_blank"><md-icon>help</md-icon> 帮助与支持</a>-->
    <!--</div>-->
</div>